[build]
builder = "nixpacks"
buildCommand = "cd 'My Project' && pip install -r requirements.txt"

[deploy]
healthcheckPath = "/monitoring/health/"
healthcheckTimeout = 300
restartPolicyType = "ON_FAILURE"
startCommand = "cd 'My Project' && python manage.py migrate && python manage.py collectstatic --noinput && gunicorn --bind 0.0.0.0:$PORT cfmp.wsgi:application"

[environments.production]
[environments.production.variables]
DJANGO_SETTINGS_MODULE = "cfmp.settings"
DEBUG = "False"